@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html,
body {
	font-family: "Exo 2", sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../images/404-3.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

.error {
	margin-top: 18rem;
}

.error p {
	color: #FFF;
	text-align: center;
}

.error a,
.error a:link,
.error a:visited {
	color: #D6AB8D;
	-webkit-transition: color 350ms ease-in-out;
	-moz-transition: color 350ms ease-in-out;
    -ms-transition: color 350ms ease-in-out;
    -o-transition: color 350ms ease-in-out;
	transition: color 350ms ease-in-out;
}

.error a:hover,
.error a:active,
.error a:focus {
	color: #FF6D00;
