@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: "Exo 2", sans-serif;
	margin: 0;
	padding: 0;
}


a {
	text-decoration: none;
}

.flex-img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.masthead {
	background-color: rgba(255, 255, 255,0.85);
	text-align: center;
	margin: 0 auto;
	position: fixed;
	width: 100%;
	left: 0;
	right:0;
	top:0;
	z-index: 200;
}

.nav {
	text-align: center;
}


ul {
	list-style-type: none;
}

nav a,
nav a:link,
nav a:visited {
	color: #444444;
	-webkit-transition: color 350ms ease-in-out;
	-moz-transition: color 350ms ease-in-out;
    -ms-transition: color 350ms ease-in-out;
    -o-transition: color 350ms ease-in-out;
	transition: color 350ms ease-in-out;
}

nav a:hover,
nav a:active,
nav a:focus {
	color: #FF6D00;
}


.header-li {
	display:block;
	text-transform: uppercase;
	text-decoration: none;
}

.header-group {
	font-family: "Exo 2", sans-serif;
	font-weight: 200;
	padding: 1rem;
}

@media only screen and (min-width: 20em) {

  .header-li {
  	display: inline;
  	padding: 0.75em;
}

}

.banner {
	background: url(../images/top-banner-2.jpg) no-repeat center center;
	background-size: cover;
	padding: 5rem 2%;
	z-index: 1;
}

@media only screen and (min-width: 35em) {
	.banner {
		padding: 10rem;
	}
}

.logo {
	width: 100px;
	margin-top: 3rem;
	margin-bottom: 6em;
}

.arrow {
	width: 50px;
	margin-bottom: -4em;
	overflow: hidden;
	-ms-animation: slide-up 3000ms ease-out;
    -moz-animation: slide-up 3000ms ease-out;
    -o-animation: slide-up 3000ms ease-out;
    -webkit-animation: slide-up 3000ms ease-out;
    animation: slide-up 3000ms ease-out;
}


@-webkit-keyframes slide-up {
    0% {
        top: 10em;
    }
    100% {
        top:0;
    }    
}

@-moz-keyframes slide-up {
    0% {
        top: 10em;
    }
    100% {
        top:0;
    }    
}

@-ms-keyframes slide-up {
    0% {
        top: 10em;
    }
    100% {
        top:0;
    }    
}

@keyframes slide-up {
    0% {
        top: 10em;
    }
    100% {
        top:0;
    }    
}


@media only screen and (min-width: 20em) {
	.logo {
		width: 250px;
		margin-top: 1rem;
	}
}

.banner p {
	color: #D6AB8D;
	text-align: center;
	margin-top: 0.5rem;
}

.description {
	text-transform: uppercase;
}

.about {
	/*background: url(../images/about-me.jpg) no-repeat center center; */
	background-color: #FFF;
	background-size: cover;
	padding: 5rem 2%;
}

@media only screen and (min-width: 35em) {
	.about {
		padding: 10rem 5rem;
	}
}

@media only screen and (min-width: 50em) {
	.about {
		padding: 10rem 10rem;
	}
}

.about h1 {
	color: rgba(0,0,0,0.7);
	text-align: center;
	margin: auto 0;
}

.about p {
	color: rgba(0,0,0,0.5);
	text-align: center;
}

/* WORK ----------------------------------------------- */

.work {
	z-index: 10;
}

.work-fig {
	position: relative;
	overflow: hidden;
}

.work-fig .work-info {
	background-color: rgba(000, 000, 000, 0.5);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-top: 70%;
	padding-bottom: 70%;
	right: 0;
	left: 0;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	opacity: 0;
	-webkit-transition: opacity 350ms ease-in-out;
	-moz-transition: opacity 350ms ease-in-out;
    -ms-transition: opacity 350ms ease-in-out;
    -o-transition: opacity 350ms ease-in-out;
	transition: opacity 350ms ease-in-out;
	pointer-events:none;
}

.work-fig:hover .work-info,
.work-fig:active .work-info,
.work-fig:focus .work-info {
	opacity: 1;
}


/* FOOTER  ------------------------------------------- */



.footer {
	color: #FFF;
	margin: 0 auto;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

 .footer-li {
  	display: inline;  
  	padding: 1em;	
}

.footer__links {
	padding: 0;
	text-decoration: none;
}

.contact {
	background: url(../images/top-banner-3.jpg)  no-repeat center center;
	background-size: cover;
	padding: 5rem 2%;
	z-index: 1;
}


.email {
	font-family: "Exo 2", sans-serif;
	font-weight: 700;
	margin-top: 1rem;
	text-align: center;
}

.address,
.address:link,
.address:visited {
	color: #FFF;
	-webkit-transition: color 350ms ease-in-out;
	-moz-transition: color 350ms ease-in-out;
    -ms-transition: color 350ms ease-in-out;
    -o-transition: color 350ms ease-in-out;
	transition: color 350ms ease-in-out;
}

.address:hover,
.address:active,
.address:focus {
	color: #FF6D00;
}


@media only screen and (min-width: 35em) {
	.contact {
		padding: 10rem;
	}
}


@media only screen and (min-width: 63em) {

  .contact {
  	padding: 10rem 20rem;
  }
}


.contact h1 {
	color: #FFF;
	text-align: center;
	margin: auto 0;
}

.prosper {
	color: #FFF;
	text-align: center;
}


footer a,
footer a:link,
footer a:visited {
	color: #D6AB8D;
	-webkit-transition: color 350ms ease-in-out;
	-moz-transition: color 350ms ease-in-out;
    -ms-transition: color 350ms ease-in-out;
    -o-transition: color 350ms ease-in-out;
	transition: color 350ms ease-in-out;
}

footer a:hover,
footer a:active,
footer a:focus {
	color: #FF6D00;
}

.copyright {
	color: #6c6666;
	background-color: #000;
	text-align: center;
	padding-top: 1%;	
	padding-bottom: 1%;
}
