@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: "Exo 2", sans-serif;
	margin: 0;
	padding: 0;
}


a {
	text-decoration: none;
}


.flex-img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.masthead {
	background-color: rgba(255, 255, 255,0.85);
	text-align: center;
	margin: 0 auto;
	position: fixed;
	width: 100%;
	left: 0;
	right:0;
	top:0;
	z-index: 9000;
}

.nav {
	text-align: center;
}


ul {
	list-style-type: none;
}

.header-li {
	display:block;
	text-transform: uppercase;
	text-decoration: none;
}

.header-group {
	font-family: "Exo 2", sans-serif;
	font-weight: 200;
	padding: 1rem;
}

@media only screen and (min-width: 20em) {

  .header-li {
  	display: inline;
  	padding: 0.75em;
}

}

.banner {
	background: #000 url(http://placehold.it/1200x700/282828) no-repeat center center;
	background-size: cover;
	padding: 5rem 2%;
}

@media only screen and (min-width: 35em) {
	.banner {
		padding: 10rem;
	}
}

.logo {
	width: 150px;
}

.banner p {
	color: #FFF;
	text-align: center;
}

.about {
	background: #000 url(http://placehold.it/1200x700/444444) no-repeat center center;
	background-size: cover;
	padding: 5rem 2%;
}

@media only screen and (min-width: 35em) {
	.about {
		padding: 10rem 5rem;
	}
}

@media only screen and (min-width: 50em) {
	.about {
		padding: 10rem 10rem;
	}
}

.about h1 {
	color: #FFF;
	text-align: center;
	margin: auto 0;
}

.about p {
	color: #FFF;
}

/* WORK ----------------------------------------------- */

.work {
	z-index: 1000;
}

.work-fig {
	position: relative;
	overflow: hidden;
}

.work-info {
	background-color: rgba(255, 255, 255, 0.4);
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	text-align: center;
	opacity: 0;
	filter:blur(300px);
}

.work-fig:hover .work-info,
.work-fig:active .work-info,
.work-fig:focus .work-info {
	-webkit-animation: scale-up 500ms linear forwards;
	animation: scale-up 500ms linear forwards;

}

@-webkit-keyframes scale-up {
	from {
		transform: scale(0,0);
		-webkit-transform: scale(0,0);
		opacity: 0;
		filter: blur(1300px);
	}
	to {
		transform: scale(1,1);
		-webkit-transform: scale(1,1);
		opacity: 1;
		filter: blur(300px);
	}
}
/* FOOTER  ------------------------------------------- */


.footer {
	color: #FFF;
	margin: 0 auto;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

 .footer-li {
  	display: inline;  
  	padding: 0.3em;	
}

.footer__links {
	padding: 0;
	text-decoration: none;
}

.contact {
	background: #000 url(http://placehold.it/1200x700/282828) no-repeat center center;
	background-size: cover;
	padding: 5rem 2%;
}

@media only screen and (min-width: 35em) {
	.contact {
		padding: 10rem;
	}
}


@media only screen and (min-width: 63em) {

  .contact {
  	padding: 10rem 20rem;
  }
}


.contact h1 {
	color: #FFF;
	text-align: center;
	margin: auto 0;
}

.contact p {
	color: #FFF;
	text-align: center;
}

.email {
	font-family: "Exo 2", sans-serif;
	font-weight: 700;
}
